#topMarker {
  display: none !important;
}

// #bottomMarker {
//   display: none;
// }
// .first,
.slide-out-button {
  animation-fill-mode: forwards;
  animation-name: slide-out-button;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes slide-out-button {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.slide-in-button {
  animation-fill-mode: backwards;
  animation-name: slide-in-button;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.initial_tab {
  left: 50%;
  transform: translateX(50%);
}

@keyframes slide-in-button {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide-out {
  transform: translateX(-50%) !important;
  transition: 0.3s linear;
}

.slide-in {
  transform: translateX(50%) !important;
  transition: 0.3s linear;
}

// .slide-out {
//   animation-fill-mode: forwards;
//   animation-name: slide-out;
//   animation-duration: 0.3s;
//   animation-timing-function: linear;
// }

// @keyframes slide-out {
//   0% {
//     transform: translateX(50%);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }

// .slide-in {
//   animation-fill-mode: backwards;
//   animation-name: slide-in;
//   animation-duration: 0.3s;
//   animation-timing-function: linear;
// }

// @keyframes slide-in {
//   0% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(50%);
//   }
// }

.slide-out-border {
  animation-name: slide-out-border;
  animation-duration: 4s;
}

@keyframes slide-out-border {
  0% {
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
  }
  10% {
    border-left: none;
    border-bottom: none;
  }
}

.slide-in-border {
  animation-name: slide-in-border;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes slide-in-border {
  70% {
    border-left: none;
    border-bottom: none;
  }
  100% {
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
  }
}
