@import "params";

$base-width: 46.988vw;
$z-index-base: 999;

.sr__footer {
  font-family: $font-myriad-cond-family;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  bottom: 0;

  &.top {
    top: 0;

    .sr__footer-bg {
      min-width: 185px;
      background-color: #fff;
    }
  }

  &-bg {
    min-width: 218px;
    height: 38px;
    z-index: 999;
    border: 1px solid white;
  }

  &-block {
    display: inline-block;
    margin: auto;
    background-color: #ff4100;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: 0.025em;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    width: 14px;
    margin-bottom: -1px;
  }

  .pen {
    display: inline-block;
  }
}
