$font-myriad-family: 'Myriad Pro Servia', 'Myriad Pro', Helvetica, Arial, sans-serif;
$font-myriad-cond-family: 'Myriad Pro Servia Cond', Helvetica, Arial, sans-serif;
$font-homerun-family: 'HomeRun Script', Helvetica, Arial, sans-serif;
$mvc:'MVC', Helvetica, Arial, sans-serif;

$bg-color: #FF4100;
$text-marker: #FA4136;
$text-primary: #414141;

$max-width: 522px;

